[Unit]
Description=Periodic Nova DRL File Index Refresh

[Timer]
OnBootSec=10min
OnUnitActiveSec=15min
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
